.start-button{
/*	left:20%;
	top:70%;*/
}
.share-button{
	width:40px;
	height:14px;
	background-image:url('../images/spritesheet.png');
	background-position:-242px -197px;
	border:none;
/*	left:50%;
	top:70%;*/
}
.canvas-class{
	margin: 0 auto;
}
.game-cover{
	display: inline-block;
	position: relative;
}
.game-over{
	display:none;
	width:94px;
	height:20px;
	position: absolute;
	left:35%;
	top:30%;
	transform:scale(3);
	background-image:url('../images/spritesheet.png');
	background-position: -146px -199px;
}
.score-container{
	width:40px;
	height:20px;
	position: absolute;
	left:40%;
	top:10%;
}
.score{
	font-size:50px;
	font-weight:bold;
}